header {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  line-height: 3.5%;
  font-size: x-large;
  text-decoration-line: underline white;
  background-color: #d9d9d6; /* Replace with your desired color */
  height: 7%;
  width: 100%;
  margin-top: 0px;
  position: fixed;
  top: 0%;
  left: 0%;
  border-bottom: 1px solid #2d2926;
  vertical-align: baseline;
  z-index: 1000;
}

@media screen and (max-width: 480px) {
  header {
    font-size: 3.5vw;
  }
  th,td {
    font-size: 8pt;
  }
  /*table {
    width: 10%;
  }*/
}

/*This should be teh new style*/

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
  }
table {
    
    /*width: 20%;*/
    /* position:fixed;*/
    border-collapse: collapse;  /* This property combines the borders of adjacent cells */
    /*top:15%*/
    width:fit-content
  }
th, td {
    /*border: 3px solid black; */ /* This property sets a border on the individual cells */
    padding: 5px;
    background-color: white;
    transition : background-color 0.3s ease;
    text-align: center;
}

table td:hover {
    background-color: #A30046;
    color: #ffffff;
}
  
  th {
    background-color: #d9d9d6;
  }

  .top-right {
    position: fixed;
    top: 1%;
    right: 1%;
    z-index: 1100;
}


iframe {
    /*grid-column: 1 / 2;*/
    /*position : fixed;
    top : 15%;
    right : 2.5%;*/
    /*width: 75%;*/
    height: 80%;
    background-color: #ffffff;
  }

  #searchForm {
    grid-row: 1 / 2;
    display: flex;
    align-self: top;
    min-height: 95%;
    /*position : fixed;*/
    /*top : 8%;*/
    left : auto;
    width: 98%;
    max-width: 100%;
    padding: 1px;
  }
  
  #searchInput {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
  }
  
/* Flex container */
.flex-container {
  padding: 0.1%;
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;  /* Aligns children horizontally with space between them */
  align-items: flex-start;
  border: 2px solid black; 
  max-width: 98vw;
  left: 0%
}

/* Style for table */
.table-section {
  flex: 0 0 20%; 
  padding: 1px;
   /* Don't grow, don't shrink, stay at 20% width */
}
  .table-section tr {
    height: 50px;
    max-height: 50px;
    min-height: 50px;
  }
  
/* Style for iframe */
.iframe-section {
  flex: 0 0 80%;  /* Don't grow, don't shrink, stay at 80% width */
  height: 99vh  /* Optional: Sets the height to 100% of the viewport height */
}

.wrapper {
  display: grid;
  position: fixed;
  align-self: center;
  top: 8.5%;
  min-width: 99vw;
  grid-template-rows: auto auto;  /* Two rows: one for search form and one for flex container */
}